<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Website</title>
	<link rel="stylesheet" href="../assets/style.css">
</head>
<body>
	<% include ../public/nav.ejs %>
	<!-- 内部样式表 -->
	<h1>联系我们</h1>
	<p>Tel：8116-4651-156198</p>
</body>
</html>